div {
  height: 50px;
  width: 50px;
  background-color: #7fffd4;
  text-align: center;
}
.boxa {
  position: relative;
  left: 200px;
  top: 200px;
}
.boxb {
  position: absolute;
  left: -30px;
  top: -30px;
}
.boxc {
  position: absolute;
  right: -30px;
  top: -30px;
}
.boxd {
  position: absolute;
  left: -30px;
  bottom: -30px;
}
.boxe {
  position: absolute;
  right: -30px;
  bottom: -30px;
}
