div {
  height: 50px;
  width: 50px;
  background-color: #7fffd4;
  text-align: center;
  border: 1px solid lightgreen;
}
.box-a {
  position: relative;
  left: 200px;
  top: 200px;
}
.box-b {
  position: absolute;
  left: -30px;
  top: -30px;
}
.box-c {
  position: absolute;
  right: -30px;
  top: -30px;
}
.box-d {
  position: absolute;
  left: -30px;
  bottom: -30px;
}
.box-e {
  position: absolute;
  right: -30px;
  bottom: -30px;
}
