.card {
  width: 500px;
  height: 100%;
  padding: 20px;
  background-color: #7fffd4;
  border-radius: 20px;
  opacity: 0.5;
}

img {
  width: 100%;
  border-radius: 5px;
}
h3 {
  display: inline;
}
p {
  display: inline;
}

.card:hover {
  opacity: 1;
}
