* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

li > a {
  color: red;
}

nav > h2:nth-child(1) {
  background-color: tan;
  font-size: 50px;
}

nav > p:nth-child(3) {
  color: red;
}
